@import "../base";

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;

  .profile-parent {
    display: flex;
    align-items: center;
    color: $darkgreen;
  }
  .profile-details-name {
    font-size: 24px;
    font-family: "Poppins SemiBold";
  }
  .profile-details-role {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    h3 {
      font-size: 35px;
      font-family: "Poppins Bold";
      color: $aqua;
    }
  }
  .primary-text {
    color: (--white);
    font-family: "Poppins SemiBold";
    font-weight: 600;
    font-size: x-large;
  }
  .highlighted-text {
    color: $royalblue;
    font-size: large;
    font-family: "Poppins SemiBold";
  }

  .profile-role-tagline {
    font-size: $fontsize-largeText;
    font-family: "Poppins Medium";
    line-height: 1.3;
    text-align: center;
    opacity: 0;
    animation: fadeIn linear 0.8s forwards;
    animation-delay: 0.3s;
  }

  .profile-options {
    .btn {
      border-radius: 50px;
      padding: 14px 0;
      width: 160px;
      cursor: pointer;
      transition: 0.2s;
      font-family: "Poppins SemiBold";
      &:active {
        transform: translateY(2px);
      }

      .highlighted-btn {
        margin: 0 0 0 28px;
        font-weight: 500;
        font-size: $fontsize-midText;
        color: $white;
        border: 2px solid linen;
        font-size: 12px;
        background-color: $aqua;
        &:hover {
          margin: 0 0 0 28px;
          background-color: $white;
          border-color: $aqua;
          color: #111;
        }
      }

      .primary-btn {
        margin: 0 0 0 28px;
        font-family: "Poppins Medium";
        font-weight: 500;
        font-size: $fontsize-midText;
        color: $white;
        border: 2px solid linen;
        font-size: 12px;
        background-color: $aqua;
        &:hover {
          margin: 0 0 0 28px;
          background-color: $white;
          border-color: $aqua;
          color: $darkgreen;
        }
      }
    }
  }
  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px $aqua;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
  }
  .profile-picture-background {
    height: 92%;
    width: 92%;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      transform: scale(1.07);
      transition: 1s ease-out;
    }
  }
  .colz {
    .colz-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: $aqua;
      font-size: $fontsize-largeText;
      letter-spacing: normal;
      padding: 8px;
      padding-left: 0px;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  &.dark {
    .profile-parent {
      .profile-details {
        .colz {
          .colz-icon {
            fill: $white;
          }
        }

        .profile-details-name {
          .primary-text {
            color: $white;
          }
          .highlighted-text {
            color: $white;
          }
        }

        .profile-details-role {
          .primary-text {
            h3 {
              color: white;
            }
            .profile-role-tagline {
              color: white;
            }
          }
        }

        .profile-options {
          .primary-btn {
            color: white;
          }
          .highlighted-btn {
            color: white;
          }
        }
      }
    }
  }
}

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translateY(5%);
//   }

//   to {
//     opacity: 1;
//   }
// }

@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: $fontsize-largeText;
  }
  .profile-details-role {
    .primary-text {
      font-size: $fontsize-minText;
    }
  }
  .profile-options {
    .btn {
      width: 120px;
      padding: 11px 0;
      z-index: 700;
    }
  }
}

@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}
@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .highlighted-btn {
      margin: 0 !important;
    }
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 568px) {
  .highlighted-btn {
    z-index: -900;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .profile-details {
    width: 90%;
  }
}
