@import "../base";

// %h3-largeScreen {
//   font-size: 32px;
// }

// .aboutme {
//   max-width: 100%;
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &-content {
//     width: 60vw;
//     height: auto;
//     padding: 30px 0;
//     display: flex;
//     // grid-gap: 45px;
//     justify-items: center;

//     .aboutme-summary {
//       align-self: center;
//       display: flex;
//       align-items: center;
//       opacity: 0;

//       .aboutme-profilePic {
//         // grid-column: 1;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         box-shadow: 0 1px 0px 0px var(--white);
//         border-radius: 50%;
//         height: 380px;
//         width: 380px;
//         margin: 0 0px 0 100px;

//         img.profilePic {
//           width: 300px;
//           height: 92%;
//           width: 92%;
//           // background-image: url("../../../Assets/Home/WhatsApp\ Image\ 2022-05-12\ at\ 7.37.10\ PM.jpeg");
//           background-size: cover;
//           border-radius: 50%;
//           background-repeat: no-repeat;
//           background-position: center;
//         }
//       }

//       .aboutme-summary-text {
//         // grid-column: 2;

//         .aboutme-title {
//           color: $darkgray;
//         }

//         p {
//           //@include setText(1.5);
//           font-size: $fontsize-midText;
//           line-height: 1.5;
//           margin-top: 30px;

//         }
//       }

//       &.fadeIn {
//         animation: fadeIn linear 0.8s forwards;
//       }
//     }

//     .aboutme-text-additional {
//       // display: grid;
//       width: 100%;
//       // grid-template-columns: repeat(2, 1fr);
//       opacity: 0;

//       &.fadeIn {
//         animation: fadeIn linear 0.8s forwards;
//         animation-delay: 0.1s;
//       }

//       .aboutme-text-personal {
//         // grid-column: 1;

//         h3 {
//           @extend %h3-largeScreen;
//         }

//         p {
//           //@include setText(2);
//           font-size: $fontsize-midText;
//           line-height: 2;
//           margin-top: 15px;
//         }
//       }

//       .aboutme-text-skills {
//         // grid-column: 2;

//         h3 {
//           @extend %h3-largeScreen;
//         }

//         p {
//           //@include setText(2);
//           font-size: $fontsize-midText;
//           line-height: 2;
//           margin-top: 15px;
//         }

//         .aboutme-skills-list {
//           // display: grid;
//           // grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
//           // grid-auto-rows: 1fr;
//           margin-top: 15px;

//           & > * {
//             filter: unset;
//           }

//           &::before {
//             content: "";
//             width: 0;
//             padding-bottom: 100%;
//             // grid-row: 1 / 1;
//             // grid-column: 1 / 1;
//           }

//           & > *:first-child {
//             // grid-row: 1 / 1;
//             // grid-column: 1 / 1;
//           }
//         }

//         .skillsIcon {
//           width: 60%;
//           height: 60%;

//           &:hover {
//             transform: scale(1.1);
//           }
//         }

//         .html:hover {
//           fill: #e34f26;
//         }

//         .css:hover {
//           fill: #264de4;
//         }

//         .tailwindcss:hover {
//           fill: #06b6d4;
//         }

//         .javascript:hover {
//           fill: #f7df1e;
//         }

//         .react:hover {
//           fill: #00d8ff;
//         }

//         .redux:hover {
//           fill: #764abc;
//         }

//         .firebase:hover {
//           fill: #ffcb2d;
//         }

//         .figma:hover {
//           fill: #ff7263;
//         }

//         .npm:hover {
//           fill: #cb3837;
//         }

//         .sass:hover {
//           fill: #cf649a;
//         }

//         .jest:hover {
//           fill: #8f3241;
//         }
//       }
//     }

//     &.dark {
//       .aboutme-summary {
//         .aboutme-summary-text {
//           .aboutme-title {
//             color: white;
//           }
//         }
//       }

//       h3 {
//         color: white;
//       }
//     }
//   }
// }

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translateY(5%);
//   }

//   to {
//     opacity: 1;
//   }
// }

// @media only screen and (max-width: 767px) {
//   .aboutme {
//     min-height: auto;

//     &-content {
//       //width: 90vw;
//       width: 75vw;
//       padding: 0 30px;

//       .aboutme-summary {
//         // grid-gap: 0px;

//         .aboutme-profilePic {
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           box-shadow: 0 1px 0px 0px var(--white);
//           border-radius: 50%;
//           height: 380px;
//           width: 380px;
//           margin: 0 0px 0 100px;
//         }

//         img.profilePic {
//           height: 92%;
//           width: 92%;
//           background-size: cover;
//           border-radius: 50%;
//           background-repeat: no-repeat;
//           background-position: center;
//         }

//         img.profilePic:hover {
//           transform: scale(1.07);
//           transition: 1s ease-out;
//         }

//         .aboutme-summary-text {
//           .aboutme-title {
//             //font-size: $fontsize-smallText;
//             font-size: 32px;
//           }

//           p {
//             font-size: $fontsize-smallText;
//           }
//         }
//       }

//       .aboutme-text-additional {
//         // grid-template-columns: 1fr;
//         // grid-template-rows: auto 1fr;
//         // grid-gap: 45px;

//         .aboutme-text-personal {
//           // grid-column: 1;
//           // grid-row: 1;

//           h3 {
//             font-size: $fontsize-largeText;
//           }

//           p {
//             font-size: $fontsize-smallText;
//             //color: red;
//             //font-size: 50px;
//           }
//         }

//         .aboutme-text-skills {
//           // grid-column: 1;
//           // grid-row: 2;

//           h3 {
//             font-size: $fontsize-largeText;
//           }

//           .aboutme-skills-list {
//             display: flex;
//             flex-direction: row;
//           }
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 420px) {
//   // %h3-smallScreen {
//   //   font-size: 25px;
//   // }

//   .aboutme {
//     &-content {
//       padding: 0px;

//       .aboutme-text-additional {
//         .aboutme-text-personal {
//           h3 {
//             //@extend %h3-smallScreen;
//             //font-size: $fontsize-smallText;
//           }

//           p {
//             //@include setText(1.7);
//             //font-size: $fontsize-midText;
//             line-height: 1.7;
//           }
//         }

//         .aboutme-text-skills {
//           h3 {
//             //@extend %h3-smallScreen;
//             //font-size: $fontsize-smallText;
//           }
//         }
//       }
//     }
//   }
// }

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: #849592;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
  h1 {
    font-size: 35px;
    font-family: cursive;
    color: #0cbfae;
  }
}
.primary-text {
  color: (--white);
  font-family: "Poppins Bold";
  font-weight: 900;
  font-size: xx-large;
}
.highlighted-text {
  color: $royalblue;
  font-family: "Poppins Bold";
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Medium";
}
.profile-options {
  .highlighted-btn {
    margin: 0 0 0 28px;
    font-family: "Poppins Medium";
    font-weight: 500;
    font-size: 19px;
    &:hover {
      margin: 0 0 0 28px;
      background-color: white;
      border-color: #0cbfae;
      color: #111;
    }
  }

  .primary-btn {
    margin: 0 0 0 28px;
    font-family: "Poppins Medium";
    font-weight: 500;
    font-size: 19px;
    &:hover {
      margin: 0 0 0 28px;
      background-color: white;
      border-color: #0cbfae;
      color: #111;
    }
  }
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px #0cbfae;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  // background-image: url("../../../Assets/Home/WhatsApp\ Image\ 2022-05-12\ at\ 7.37.10\ PM.jpeg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
  }
}
.colz {
  .colz-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #0cbfae;
      font-size: x-large;
      letter-spacing: normal;
      padding: 8px;
      padding-left: 0px;
      &:hover {
        transform: scale(1.5);
      }
  }
}
@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role {
    .primary-text {
      font-size: 12px;
    }
  }
  .profile-options {
    .btn {
      width: 120px;
      padding: 11px 0;
      z-index: 700;
    }
  }
}
@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}
@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .highlighted-btn {
      margin: 0 !important;
    }
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-details-role {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .profile-details {
    width: 90%;
  }
}
