@import "../base";

.profile-container {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100vw;
  margin: auto;
  min-height: 100vh;
  padding: 7% 5% 0% 7%;

  &-content {
    .profile-title {
      padding-top: 5%;
      color: $darkgreen;
      opacity: 0;

      &.fadeIn {
        animation: fadeIn linear 0.8s forwards;
      }
    }

    .divider {
    }
  }

  .profile-parent {
    display: flex;
    align-items: center;
    color: $darkgreen;
    .profile-details {
      width: 50vw;
      padding-left: 5vw;
    }
    .profile-details-name {
      font-size: 24px;
      font-family: "Poppins SemiBold";
    }
    .profile-details-role {
      display: flex;
      flex-direction: column;
      line-height: 1.3;
      h3 {
        font-size: x-large;
        font-family: "Poppins Bold";
        font-weight: 600;
        color: $aqua;
      }
    }
    .primary-text {
      font-family: "Poppins SemiBold";
      font-weight: 600;
      font-size: x-large;
    }
    .highlighted-text {
      color: $aqua;
      font-size: x-large;
      font-weight: 600;
      font-family: "Poppins SemiBold";
      margin-left: auto;
    }

    .profile-role-tagline {
      font-size: $fontsize-largeText;
      font-family: "Poppins Medium";
      line-height: 1.3;
      text-align: center;
      opacity: 0;
      animation: fadeIn linear 0.8s forwards;
      animation-delay: 0.3s;
    }

    .profile-options {
      width: 250px;
      margin: auto;
      .highlighted-btn {
        border-radius: 50px;
        padding: 14px 0;
        width: 50%;
        cursor: pointer;
        transition: 0.2s;
        color: $darkgreen;
        border: 3px solid $aqua;
        font-size: $fontsize-largeText;
        font-weight: 600;
        font-family: "Poppins Medium";
        background-color: $offwhite;

        &:hover {
          // margin: 0 0 0 28px;
          background-color: $aqua;
          border: 3px solid #cef1ee;
          color: $white;
        }
        &:active {
          transform: translateY(2px);
        }
      }

      .highlighted-btn:focus-within {
        outline: 2px auto $aqua;
      }

      .primary-btn {
        border-radius: 50px;
        padding: 14px 0;
        width: 50%;
        cursor: pointer;
        transition: 0.2s;
        font-size: $fontsize-largeText;
        font-weight: 600;
        font-family: "Poppins Medium";
        color: $darkgreen;
        border: 3px solid $aqua;
        background-color: $offwhite;
        &:hover {
          background-color: $aqua;
          border: 3px solid #cef1ee;
          color: $white;
        }
        &:active {
          transform: translateY(2px);
        }
      }

      .primary-btn:focus-within {
        outline: 2px auto $aqua;
      }
    }
  }
  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px $aqua;
    border-radius: 50%;
    height: 350px;
    width: 250px;
    margin: 0 0px 0 100px;
    image-rendering: auto;
  }
  .profile-picture-background {
    height: 92%;
    width: 90%;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      transform: scale(1.07);
      transition: 1s ease-out;
    }
  }
  .colz {
    .colz-icon {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      justify-content: center;
      color: $aqua;
      font-size: $fontsize-largeText;
      letter-spacing: normal;
      padding: 8px;
      padding-left: 0px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &.dark {
    .profile-parent {
      .profile-details {
        .colz {
          .colz-icon {
            fill: $white;
          }
        }

        .profile-details-name {
          .primary-text {
            color: $white;
          }
          .highlighted-text {
            color: $white;
          }
        }

        .profile-details-role {
          .primary-text {
            h3 {
              color: white;
            }
            .profile-role-tagline {
              color: white;
            }
          }
        }

        .profile-options {
          .highlighted-btn {
            color: $white;
            background-color: $darkgray;
            border-color: white;
            &:hover {
              background-color: $aqua;
              border-color: white;
              color: $white;
            }
          }

          .primary-btn {
            color: $white;
            background-color: $darkgray;
            border-color: white;
            &:hover {
              background-color: $aqua;
              border-color: white;
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .profile-container {
    &-content {
      .profile-title {
        &.fadeIn {
          animation: fadeIn linear 0.8s forwards;
        }
      }
      .divider {
        margin-left: 46%;
      }
    }

    .profile-parent {
      .profile-picture {
        margin: 0 0px 0 80px;
      }
      .profile-details-name {
        font-size: $fontsize-largeText;
      }
      .profile-details-role {
        .primary-text {
          font-size: $fontsize-minText;
        }
      }
      .profile-options {
        .highlighted-btn {
          width: 120px;
          padding: 11px 0;
        }

        .primary-btn {
          width: 120px;
          padding: 11px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .profile-container {
    .profile-parent {
      .profile-picture {
        height: 470px;
        width: 320px;
        margin: 0 0 0 4px;
      }
    }
  }
}
@media screen and (max-width: 810px) {
  .profile-container {
    .profile-parent {
      flex-direction: column-reverse;
      margin: 40px 0 0 0;
      .profile-details {
        margin: 25px 0 0;
        .profile-options {
          a.highlighted-btn {
            margin: 0 !important;
          }
        }
        .profile-details-role {
          text-align: center;
        }
      }

      .profile-picture {
        margin: 0 !important;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .profile-container {
    height: calc(100vh);
    .profile-parent {
      width: 90vw;
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .profile-container {
    .profile-parent {
      .profile-details {
        width: 100%;
        .profile-details-name {
          .primary-text {
            font-size: $fontsize-largeText;
          }
          .highlighted-text {
            font-size: $fontsize-largeText;
          }
        }
        .profile-details-role {
          width: 100%;
          .primary-text {
            h3 {
              font-size: $fontsize-largeText;
            }
            .profile-role-tagline {
              width: 100%;
              font-size: $fontsize-minText;
            }
          }
        }
        .profile-options {
          .highlighted-btn {
            font-size: 15px;
          }
          .primary-btn {
            font-size: 15px;
          }
        }
      }
      .profile-picture {
        height: 350px;
        width: 250px;
        margin-top: -90px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .profile-container {
    .profile-parent {
      .profile-details {
        width: 90%;
        .profile-details-name {
          .primary-text {
            font-size: $fontsize-largeText;
          }
          .highlighted-text {
            font-size: $fontsize-largeText;
          }
        }
        .profile-details-role {
          .primary-text {
            h3 {
              font-size: $fontsize-largeText;
            }
            .profile-role-tagline {
              font-size: $fontsize-minText;
            }
          }
        }
        .profile-options {
          .highlighted-btn {
            font-size: 15px;
          }
          .primary-btn {
            font-size: 15px;
          }
        }
      }

      .profile-picture {
        height: 350px;
        width: 250px;
        // margin-top: -90px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .profile-container {
    .profile-parent {
      .profile-details {
        width: 100%;
        .profile-role-tagline {
          width: 100%;
          font-size: $fontsize-smallText;
        }
      }
      .profile-picture {
        height: 350px;
        width: 250px;
        margin-top: -90px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .profile-container {
    margin-bottom: 20rem;
    &-content {
      .profile-title {
        &.fadeIn {
          animation: fadeIn linear 0.8s forwards;
        }
      }
      .divider {
        margin-left: auto;
      }
    }
    .profile-parent {
      .profile-details {
        width: 100%;
        justify-content: center;
        align-content: center;
        .profile-details-name {
          .primary-text {
            font-size: $fontsize-largeText;
          }
          .highlighted-text {
            font-size: $fontsize-largeText;
          }
        }
        .profile-details-role {
          width: 100%;
          .primary-text {
            h3 {
              font-size: $fontsize-midText;
            }
            .profile-role-tagline {
              font-size: $fontsize-minText;
            }
          }
        }
        .profile-options {
          margin-bottom: 50%;
          .highlighted-btn {
            font-size: 15px;
          }
          .primary-btn {
            font-size: 15px;
          }
        }
      }
      .profile-picture {
        height: 280px;
        width: 220px;
        margin-top: -90px;
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .profile-container {
    .profile-title-section {
      .profile-title {
        font-size: $fontsize-largeText;
        &.fadeIn {
          animation: fadeIn linear 0.8s forwards;
        }
      }
      .divider {
      }
    }
    .profile-parent {
      .profile-details {
        width: 100%;
        .profile-details-name {
          .primary-text {
            font-size: $fontsize-smallText;
          }
          .highlighted-text {
            font-size: $fontsize-smallText;
          }
        }
        .profile-details-role {
          width: 100%;
          .primary-text {
            h3 {
              font-size: $fontsize-midText;
            }
            .profile-role-tagline {
              font-size: $fontsize-minText;
              width: 100%;
            }
          }
        }
        .profile-options {
          margin-bottom: 50%;
          .highlighted-btn {
            font-size: 15px;
          }
          .primary-btn {
            font-size: 15px;
          }
        }
      }
      .profile-picture {
        height: 260px;
        width: 200px;
      }
    }
  }
}
