@import '../base';

.footer {
  max-width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  text-align: center;

  p {
    color: $gray;
  }

  &.dark {
    p {
      color: white;
    }
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 420px) {
  .footer {
    p {
      font-size: $fontsize-minText;
    }
  }
}
