@import "../base";

.footer {
  max-width: 100vw;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1px;
  text-align: center;
  background-color: #0cbfae;

  p {
    color: $darkgreen;
    font-family: "Poppins Medium";
    font-size: $fontsize-largeText;
    font-weight: bold;
  }

  &.dark {
    p {
      color: white;
      font-family: "Poppins Medium";
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    p {
      font-size: $fontsize-smallText;
    }
  }
}

@media only screen and (max-width: 540px) {
  .footer {
    p {
      font-size: $fontsize-minText;
    }
  }
}

@media only screen and (max-width: 420px) {
  .footer {
    p {
      font-size: $fontsize-minText;
    }
  }
}
