@import "../base";

.footer {
  min-width: 100%;
  height: 4.3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $aqua;

  p {
    color: $darkgreen;
    font-family: "Poppins Medium";
    font-size: $fontsize-largeText;
    font-weight: bold;
    padding: auto;
  }

  &.dark {
    p {
      color: white;
      font-family: "Poppins Medium";
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    p {
      font-size: $fontsize-smallText;
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .footer {
    p {
      font-size: $fontsize-minText;
    }
  }
}

@media only screen and (max-width: 540px) {
  .footer {
    p {
      font-size: $fontsize-minText;
    }
  }
}

@media only screen and (max-width: 420px) {
  .footer {
    p {
      font-size: $fontsize-minText;
    }
  }
}
