@import '../base';

.hamburger-menu {
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $lightgray;

  .hamburger-center {
    width: 40px;
    margin-right: 15px;

    &:before,
    &:after,
    & div {
      background: $darkgray;
      content: '';
      display: block;
      height: 4px;
      border-radius: 3px;
      margin: 7px 0;
      transition: 0.5s;
    }
  }

  &-list {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: $royalblue;
    position: absolute;
    top: 50px;
    z-index: 50;
    padding: 0px;

    li {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .hamburger-nav-link {
        font-size: $fontsize-largeText;
        color: white;
      }

      a {
        text-decoration: none;
      }
    }
  }

  &.menuIcon-active {
    background-color: $royalblue;

    .hamburger-center:before {
      transform: translateY(12px) rotate(135deg);
    }

    .hamburger-center:after {
      transform: translateY(-12px) rotate(-135deg);
    }

    .hamburger-center div {
      transform: scale(0);
    }
  }

  &.dark {
    background-color: $darkgray;

    .hamburger-menu-list {
      background-color: $lightblue;

      li {
        .hamburger-nav-link {
          color: $darkgray;
        }
      }
    }

    &.menuIcon-active {
      background-color: $lightblue;
    }

    .hamburger-center {
      &:before,
      &:after,
      & div {
        background: white;
      }
    }
  }
}

// @keyframes menuShow {
//   from {
//     opacity: 0%;
//     transform: translateY(-50%);
//   }

//   to {
//     transform: translateY(0%);
//   }
// }

// @keyframes menuHide {
//   from {
//     transform: translateY(0%);
//   }

//   to {
//     opacity: 0%;
//     transform: translateY(-50%);
//   }
// }
