@import "../base";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-top: 5px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  font-family: "Poppins Medium";
  width: 100%;
  margin-bottom: 8px;
  border: none;

  .contactTypo {
    text-transform: uppercase;
    font-family: "Poppins Medium";
    font-weight: bold;
    text-align: center;
  }
  .questionTypo {
    font-family: "Poppins Medium";
    font-weight: bold;
    text-align: center;
    margin-left: 25px;
  }

  .divider {
    border: 0px;
    width: 110px;
    height: 4px;
    background-color: $aqua;
    margin: 10px 0 40px 0;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 30%;
    height: 300px;

    input {
      margin: auto;
      padding: 10px 0px 10px 10px;
      font-family: "Poppins Medium";
      font-weight: bold;
      width: 100%;
      margin-bottom: 8px;
      background-color: #cef1ee;
      border: none;
    }
    textArea {
      font-family: "Poppins Medium";
      font-weight: bold;
      padding: 10px 0px 10px 10px;
      background-color: #cef1ee;
      color: $darkgreen;
      width: 100%;
      height: 100%;
      margin-bottom: 8px;
      margin: auto;
      border: none;
    }
    .submitButton {
      cursor: pointer;
      margin-right: 170px;
      width: 30%;
      align-self: center;
      padding: 10px 15px;
      border-radius: 5px;
      color: $darkgreen;
      font-family: "Poppins Medium";
      font-weight: bold;
      background-color: #cef1ee;
      border: 2px solid #0cbfae;
      &:hover {
        background-color: $aqua;
        color: white;
        border: none;
      }
    }

    &.dark {
      .meassages {
        .section {
          .wrapper {
            .contactTypo {
              color: $white;
            }

            .questionTypo {
              color: $white;
            }

            .divider {
              background-color: white;
            }

            form {
              input {
                color: $white;
              }

              textArea {
                color: $white;
              }

              .submitButton {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}

// @media only screen and (max-width: 767px) {
//   .meassages {
//     .section {
//       .wrapper {
//         width: 75vw;
//         .form {
//           // width: 50vw;
//           width: 100%;
//           .input {
//           }
//           .textArea {
//           }
//           .submitButton {
//             margin-right: 100px;
//           }
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 420px) {
//   .meassages {
//     .section {
//       .wrapper {
//         width: 75vw;
//         form.form {
//           width: 100%;

//           input.input {
//             // width: 412px;
//           }
//           textarea.textArea {
//             // width: 412px;
//           }
//           input.submitButton {
//             margin-right: 100px;
//           }
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 375px) {
//   .meassages {
//     .section {
//       .wrapper {
//         width: 75vw;
//         form.form {
//           width: 100%;
//           input.input {
//             // width: 36vw;
//           }
//           textarea.textArea {
//             // width: 36vw;
//           }
//           input.submitButton {
//             margin-right: 100px;
//           }
//         }
//       }
//     }
//   }
// }
