@import "../base";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin: auto;

  .contactTypo {
    text-transform: uppercase;
    font-family: "Poppins Medium";
    font-weight: bold;
    color: $darkgreen;
    text-align: center;
  }
  .questionTypo {
    font-family: "Poppins Medium";
    font-weight: bold;
    color: $darkgreen;
    text-align: center;
    margin-left: 25px;
  }

  .divider {
    border: 0px;
    width: 110px;
    height: 4px;
    background-color: #0cbfae;
    margin: 10px 0 40px 0;
  }
  margin: auto;
  padding: 10px 0px 10px 10px;
  font-family: "Poppins Medium";
  width: 100%;
  margin-bottom: 8px;
  //   background-color: #0cbfae;
  color: $darkgray;
  border: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  width: 500px;
  height: 300px;

  input {
    margin: auto;
    padding: 10px 0px 10px 10px;
    font-family: "Poppins Medium";
    font-weight: bold;
    width: 100%;
    margin-bottom: 8px;
    background-color: #cef1ee;
    color: $darkgreen;
    border: none;
  }
  textArea {
    font-family: "Poppins Medium";
    font-weight: bold;
    padding: 10px 0px 10px 10px;
    background-color: #cef1ee;
    color: $darkgreen;
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
    margin: auto;
    border: none;
  }
  .submitButton {
    cursor: pointer;
    align-self: center;
    padding: 10px 15px;
    margin-right: -10px;
    color: $darkgreen;
    font-family: "Poppins Medium";
    font-weight: bold;
    background-color: #cef1ee;
    border-radius: 0px;
    border: 2px solid #0cbfae;
    &:hover {
      background-color: #10abb0;
      color: white;
      border: none;
    }
  }

  &.dark {
    .meassages {
      .wrapper {
        .contactTypo {
          color: $white;
        }

        .questionTypo {
          color: $white;
        }

        form {
          input {
            color: $white;
          }

          textArea {
            color: $white;
          }

          .submitButton {
            color: $white;
          }
        }
      }
    }
  }
}
