@import "../base";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 10px 10px 10px;
  font-family: "Poppins Medium";
  width: 100%;
  margin-bottom: 0px;
  border: none;

  .contactTypo {
    text-transform: uppercase;
    font-family: "Poppins Medium";
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding-top: 5%;
  }
  .questionTypo {
    font-size: $fontsize-largeText;
    font-family: "Poppins Medium";
    font-weight: bold;
    text-align: center;
    margin-left: 25px;
  }

  .divider {
    border: 0px;
    width: 110px;
    height: 4px;
    background-color: $aqua;
    margin: 10px 0 40px 0;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 22.5%;
    height: 300px;

    input {
      margin: auto;
      padding: 10px 0px 10px 10px;
      font-family: "Poppins Medium";
      font-weight: bold;
      width: 100%;
      margin-bottom: 8px;
      background-color: #cef1ee;
      border: none;
      &::placeholder {
        font-size: $fontsize-minText;
        color: $darkgreen;
      }
    }
    textarea {
      font-family: "Poppins Medium";
      font-weight: bold;
      padding: 10px 0px 10px 10px;
      background-color: #cef1ee;
      color: $darkgreen;
      width: 100%;
      height: 100%;
      margin-bottom: 8px;
      margin: auto;
      border: none;
      &::placeholder {
        font-size: $fontsize-minText;
        color: $darkgreen;
      }
    }
    .submitButton {
      cursor: pointer;
      margin: 1% 0% 0% 0%;
      width: 30%;
      align-self: center;
      padding: 10px 15px;
      border-radius: 5px;
      color: $darkgreen;
      font-family: "Poppins Medium";
      font-weight: bold;
      background-color: #cef1ee;
      border: 2px solid #0cbfae;
      &:hover {
        background-color: $aqua;
        color: white;
        border: none;
      }
    }

    &.dark {
      .wrapper {
        .contactTypo {
          color: $white;
        }

        .questionTypo {
          color: $white;
        }

        .divider {
          background-color: white;
        }

        form {
          input {
            color: $white;
            &::placeholder {
              font-size: $fontsize-smallText;
              color: $white;
            }
          }

          textarea {
            color: $white;
            &::placeholder {
              font-size: $fontsize-smallText;
              color: $white;
            }
          }

          .submitButton {
            color: $white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 1280px) {
  .wrapper {
    form {
      width: 50%;
    }
    input {
      width: 50%;
    }
    textArea {
      width: 50%;
    }
    .submitButton {
      width: fit-content;
    }
  }
  .meassages {
    .section {
      .wrapper {
        .contactTypo {
          font-size: $fontsize-largeText;
        }
        .questionTypo {
          font-size: $fontsize-smallText;
        }
      }
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .wrapper {
    form {
      width: 100%;
      .submitButton {
        font-size: $fontsize-minText;
      }
    }
    .contactTypo {
      font-size: $fontsize-largeText;
    }
    .questionTypo {
      font-size: $fontsize-minText;
    }
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    form {
      width: 100%;
      .submitButton {
        font-size: $fontsize-minText;
      }
    }
    .contactTypo {
      font-size: $fontsize-largeText;
    }
    .questionTypo {
      font-size: $fontsize-minText;
    }
  }
}

@media only screen and (max-width: 420px) {
  .wrapper {
    form {
      width: 100%;

      .submitButton {
        font-size: $fontsize-minText;
      }
    }
    .contactTypo {
      font-size: $fontsize-largeText;
    }
    .questionTypo {
      font-size: $fontsize-minText;
    }
  }
}
