@import "../base";

.navbar {
  padding: 0px 100px;
  height: 100px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins Medium";
  background-color: $aqua;
  font-weight: bold;
  position: fixed;
  margin: auto;
  z-index: 100;

  .home-icon {
    padding: 0px 0;

    &:hover {
      cursor: pointer;
    }

    & img {
      height: 10%;
    }
  }

  .navbar-links-list {
    display: flex;
    list-style-type: none;
    z-index: 900;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 100%;

      &:hover {
        cursor: pointer;
      }

      .nav-link,
      .nav-link-resume {
        display: block;
        line-height: 100%;
        font-size: $fontsize-largeText;
        text-decoration: none;
        font-family: "Poppins Medium";
        margin-bottom: -30%;
        row-gap: 15px;

        &-active,
        &:hover {
          color: $white;
          font-weight: 700;
        }

        &:visited {
          text-decoration: none;
          color: $gray;
        }
      }

      .nav-link-resume {
        &:visited {
          color: $gray;
        }

        &:hover {
          color: $white;
          font-weight: 700;
        }
      }
    }

    &.dark {
      li {
        .nav-link,
        .nav-link-resume {
          &-active,
          &:hover {
            color: $darkgray;
            font-weight: 700;
          }

          &:visited {
            color: white;
          }
        }

        .nav-link-resume {
          &:visited {
            color: white;
          }

          &:hover {
            color: $darkgray;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    height: 100px;
    width: 625%;
    padding: 0px 30px;

    .navbar-links-list {
      li {
        width: auto;
        padding: 0 10px;

        .nav-link,
        .nav-link-resume {
          font-size: $fontsize-smallText;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .navbar {
    height: 100px;
    width: auto;
    padding: 0px 30px;

    .navbar-links-list {
      li {
        width: 85px;
        padding: 0 10px;

        .nav-link,
        .nav-link-resume {
          font-size: $fontsize-minText;
          row-gap: 0px;
          margin-bottom: -47%;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .navbar {
    height: 100px;
    width: 625%;
    padding: 0px 30px;

    .navbar-links-list {
      li {
        width: auto;
        padding: 0 10px;

        .nav-link,
        .nav-link-resume {
          font-size: $fontsize-minText;
        }
      }
    }
  }
}
