@import "../base";

.navbar {
  padding: 0px 10px;
  height: 4.3rem;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins Medium";
  background-color: $aqua;
  font-weight: bold;
  position: fixed;
  z-index: 100;

  .home-icon {
    width: 5%;
    img {
      // height: 3%;
      width: 70%;
    }
    &:hover {
      cursor: pointer;
      // background-color: $darkgreen;
    }
  }

  .navbar-links-list {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    list-style-type: none;
    z-index: 900;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;

      &:hover {
        cursor: pointer;
      }

      .nav-link {
        display: block;
        line-height: 100%;
        font-size: $fontsize-largeText;
        text-decoration: none;
        font-family: "Poppins Medium";
        margin-bottom: -25%;

        &-active,
        &:hover {
          color: $white;
          font-weight: 700;
          // background-color: $darkgreen;
        }

        &:visited {
          text-decoration: none;
          color: $gray;
        }
      }
    }

    &.dark {
      li {
        .nav-link {
          &-active,
          &:hover {
            color: $darkgray;
            font-weight: 700;
          }

          &:visited {
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (max-width: 1286px) {
  .navbar {
    height: 4.3rem;
    min-width: 100%;
    padding: 0px 30px;

    .navbar-links-list {
      li {
        width: auto;
        padding: 0 10px;

        .nav-link {
          font-size: $fontsize-smallText;
        }
      }
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .navbar {
    height: 4.3rem;
    width: auto;
    padding-left: 10px;
    font-size: $fontsize-minText;
    .home-icon {
      padding: 0px;
      width: 5%;

      &:hover {
        cursor: pointer;
      }

      & img {
        height: 3%;
        width: 70%;
      }
    }

    .navbar-links-list {
      li {
        width: 85px;
        padding-right: 0px;

        .nav-link {
          font-size: $fontsize-minText;
          row-gap: 0px;
          // margin-bottom: -47%;
        }
      }
    }
  }
}

@media only screen and (min-width: 421px) and (max-width: 540px) {
  .navbar {
    height: 4.3rem;
    width: auto;
    padding-left: 10px;
    font-size: $fontsize-minText;
    .home-icon {
      padding: 0px;
      width: 5%;

      &:hover {
        cursor: pointer;
      }

      & img {
        height: 5%;
        width: 70%;
      }
    }

    .navbar-links-list {
      li {
        width: auto;
        padding-right: 0px;

        .nav-link {
          font-size: $fontsize-minText;
          row-gap: 0px;
          // margin-bottom: -53%;
        }
      }
    }
  }
}

@media only screen and (min-width: 50px) and (max-width: 420px) {
  .navbar {
    height: 10%;
    max-width: 100%;
    padding: 0px 30px;
    .home-icon {
      padding: 0px;
      width: 5%;

      &:hover {
        cursor: pointer;
      }

      & img {
        height: 5%;
        width: 70%;
      }
    }

    .navbar-links-list {
      li {
        width: auto;
        padding: 0 10px;

        .nav-link {
          font-size: $fontsize-minText;
        }
      }
    }
  }
}
