@import "../base";

.projects {
  max-width: 100%;
  padding-bottom: 100px;

  &-content {
    .projects-title {
      margin: 45px 0px 30px 690px;
      color: $darkgreen;
      opacity: 0;

      &.fadeIn {
        animation: fadeIn linear 0.8s forwards;
      }
    }

    .divider {
      border: 0px;
      width: 110px;
      height: 4px;
      background-color: $aqua;
      margin-left: 46.5%;
      margin-bottom: 40px;
    }

    .projects-list {
      width: calc(100vw - (100px * 2));
      margin: 0px auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;

      /* PROJECT ITEM */
      .project {
        display: flex;
        flex-direction: column;
        opacity: 0;

        &.fadeIn {
          animation: fadeIn linear 0.8s forwards;
          animation-delay: 0.1s;
        }

        /* PROJECT IMAGE */
        &-img {
          & a {
            height: 100%;
            width: 100%;
            display: inline-block;

            &:hover {
              overflow: hidden;
            }
          }

          & img {
            height: 100%;
            width: 100%;

            &:hover {
              transform: scale(1.02);
              transition: all 0.3s ease;
              vertical-align: middle;
            }
          }
        }

        /* DESCRIPTION TEXT */
        &-description {
          display: flex;
          flex-direction: column;
          margin-top: 10px;

          .project-title-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            width: 100%;
            line-height: 1.8;
            padding-bottom: 7px;

            .project-maintitle {
              font-size: 23px;
              font-weight: 900;
              color: $darkgreen;
            }

            .project-subtitle {
              font-size: $fontsize-minText;
              font-weight: bold;
            }
          }

          .project-tech {
            line-height: 1.5;
            font-size: $fontsize-smallText;
            font-weight: bold;
          }

          .project-link {
            padding: 5px 0;

            a {
              padding: 2px 8px;
              margin-right: 10px;
              line-height: 1.5;
              border-radius: 5px;
              font-size: $fontsize-smallText;
              font-weight: bold;
              text-decoration: none;
              background-color: $aqua;
              border: 1px solid $loader-color;
              color: $darkgreen;

              &:hover {
                cursor: pointer;
                background-color: $aqua;
                border: 1px solid $aqua;
                color: white;
              }

              &:visited {
                text-decoration: none;
                color: $gray;

                &:hover {
                  cursor: pointer;
                  background-color: $aqua;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }

  &-content.dark {
    .projects-title {
      color: white;
    }

    .projects-list {
      .project {
        &-description {
          .project-title-section {
            .project-maintitle {
              color: white;
            }
          }

          .project-link {
            a {
              //color: $darkgray;
              color: white;
              background-color: $darkgray;
              border: 1px solid white;

              &:hover {
                background-color: $aqua;
                border: 1px solid $aqua;
                color: $darkgray;
              }

              &:visited {
                &:hover {
                  background-color: $aqua;
                  color: $darkgray;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .projects {
    display: flex;
    justify-content: center;

    &-content {
      //width: 90vw;
      width: 75vw;

      .projects-title {
        margin-left: 40%;
        margin-bottom: 1%;
      }

      .divider {
        margin-left: 39%;
        margin-bottom: 5%;
      }

      .projects-list {
        width: 100%;
        grid-template-columns: 1fr;

        .project {
          &-img {
            a {
              // height: 200%;
              // width: 200%;

              img {
                //transform: scale(1.1);
              }
            }
          }

          &-description {
            .project-title-section {
              .project-maintitle {
                font-size: $fontsize-smallText;
                //font-size: 50px;
              }

              .project-subtitle {
                font-size: 10px;
              }
            }

            .project-tech {
              font-size: $fontsize-minText;
            }

            .project-link {
              a {
                font-size: $fontsize-minText;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .projects {
    display: flex;
    justify-content: center;

    &-content {
      //width: 90vw;
      width: 75vw;

      .projects-title {
        margin-left: 40%;
        margin-bottom: 1%;
      }

      .divider {
        margin-left: 39%;
        margin-bottom: 5%;
      }

      .projects-list {
        width: 100%;
        grid-template-columns: 1fr;

        .project {
          &-img {
            a {
              // height: 200%;
              // width: 200%;

              img {
                //transform: scale(1.1);
              }
            }
          }

          &-description {
            .project-title-section {
              .project-maintitle {
                font-size: $fontsize-smallText;
                //font-size: 50px;
              }

              .project-subtitle {
                font-size: 10px;
              }
            }

            .project-tech {
              font-size: $fontsize-minText;
            }

            .project-link {
              a {
                font-size: $fontsize-minText;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .projects {
    display: flex;
    justify-content: center;

    &-content {
      //width: 90vw;
      width: 75vw;

      .projects-title {
        margin-left: 40%;
        margin-bottom: 1%;
      }

      .divider {
        margin-left: 39%;
        margin-bottom: 5%;
      }

      .projects-list {
        width: 100%;
        grid-template-columns: 1fr;

        .project {
          &-img {
            a {
              // height: 200%;
              // width: 200%;

              img {
                //transform: scale(1.1);
              }
            }
          }

          &-description {
            .project-title-section {
              .project-maintitle {
                font-size: $fontsize-smallText;
                //font-size: 50px;
              }

              .project-subtitle {
                font-size: 10px;
              }
            }

            .project-tech {
              font-size: $fontsize-minText;
            }

            .project-link {
              a {
                font-size: $fontsize-minText;
              }
            }
          }
        }
      }
    }
  }
}
