@import "../base";

.techStackContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0 50px 0;
  max-width: 100%;
  // min-height: 100vh;
  gap: 10px;

  display: inline-block;
  flex-wrap: wrap;
  .card {
    box-shadow: 1px 1px 1px 1px $aqua;
    height: 350px;
    width: 330px;
    border-bottom: 4px solid $aqua;
    justify-content: center;
    align-items: center;
    margin-top: 40%;

    .iconsDiv {
      margin: auto;
      width: 50px;
      height: 50px;

      #icons {
        color: $icons;
        padding: 10px 0px 10px 0px;
        height: 30px;
        width: 30px;
        font-size: 30px;
        text-align: center;
        margin: 10px 0 0 0;
      }

      .divider {
        width: 30px;
        height: 4px;
        background-color: $aqua;
        margin: auto;
        margin-top: 10px;
      }
    }

    .cardTypo {
      font-family: "Poppins Bold";
      padding: 50px 0 10px 0;
      text-align: center;
      font-weight: 600;
      font-size: $fontsize-largeText;
      color: $darkgreen;
    }

    .typoSpan {
      font-family: "Poppins Bold";
      font-weight: 600;
      font-size: $fontsize-largeText;
      color: $aqua;
    }

    .typoSpanList {
      font-size: $fontsize-midText;
      font-family: "Poppins Medium";
      font-weight: 600;
      color: $darkgreen;
    }

    &.dark {
      .techStackContainer {
        .card {
          background: $darkgreen;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .techStackContainer {
    .card {
      width: 100%;
      margin-bottom: -2rem;
      .iconsDiv {
        #icons {
        }

        .divider {
        }
      }

      .cardTypo {
        font-size: $fontsize-largeText;
      }

      .typoSpan {
        font-size: $fontsize-smallText;
      }

      .typoSpanList {
        font-size: $fontsize-minText;
      }
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .techStackContainer {
    .card {
      width: 100%;
      margin-bottom: -2rem;
      .iconsDiv {
        #icons {
        }

        .divider {
        }
      }

      .cardTypo {
        font-size: $fontsize-midText;
        font-weight: bold;
      }

      .typoSpan {
        font-size: $fontsize-smallText;
      }

      .typoSpanList {
        font-size: $fontsize-minText;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .techStackContainer {
    padding-top: 2rem;
    .card {
      width: 100%;
      .iconsDiv {
        #icons {
        }

        .divider {
        }
      }

      .cardTypo {
        font-size: $fontsize-midText;
        font-weight: bold;
      }

      .typoSpan {
        font-size: $fontsize-smallText;
      }

      .typoSpanList {
        font-size: $fontsize-minText;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .techStackContainer {
    .card {
      width: 100%;
      .iconsDiv {
        #icons {
        }

        .divider {
        }
      }

      .cardTypo {
        font-size: $fontsize-midText;
      }

      .typoSpan {
        font-size: $fontsize-smallText;
      }

      .typoSpanList {
        font-size: $fontsize-minText;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .techStackContainer {
    
    .card {
      width: 100%;
      .iconsDiv {
        #icons {
        }

        .divider {
        }
      }

      .cardTypo {
        font-size: $fontsize-midText;
        font-weight: bold;
      }

      .typoSpan {
        font-size: $fontsize-smallText;
      }

      .typoSpanList {
        font-size: $fontsize-minText;
      }
    }
  }
}

@media only screen and (max-width: 280px) {
  .techStackContainer {
    padding-top: 2rem;
    .card {
      width: 100%;

      .iconsDiv {
        #icons {
        }

        .divider {
        }
      }

      .cardTypo {
        font-size: $fontsize-midText;
        font-weight: bold;
      }

      .typoSpan {
        font-size: $fontsize-smallText;
      }

      .typoSpanList {
        font-size: $fontsize-minText;
      }
    }
  }
}
